.index {
	background-color: #1f1f1f;
}

h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topics {
	height: 2em;
	color: #1c0603;
	background-color: aliceblue;
	font-family: 'Lobster', serif;
}
.topd {
	overflow: none;
}

.card {
	background-color: #1f1f1f;
	color: white;
}
