{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container-fluid position-absolute">

        <h1 class="topd display-1">NEWS HIGHLIGHTS</h1>
    </div>
    <div class="index container-fluid ">
        <div class="row">
            <h1 class="topics col-md-12 text-center display-3 bg-light ">GENERAL</h1>
            {{ macro.sourcesList(general) }}
        </div>
        <div class="row"
             id="business">
            <h1 class="topics col-md-12 text-center display-3 bg-light">BUSINESS</h1>
            {{ macro.sourcesList(business) }}
        </div>
        <div class="row"
             id="entertainment">
            <h1 class="topics col-md-12 text-center display-3 bg-light">ENTERTAINMENT</h1>
            {{ macro.sourcesList(entertainment) }}
        </div>
        <div class="row"
             id="technology">
            <h1 class="topics col-md-12 text-center display-3 bg-light">TECHNOLOGY</h1>
            {{ macro.sourcesList(technology) }}
        </div>
        <div class="row"
             id="science">
            <h1 class="topics col-md-12 text-center display-3 bg-light">SCIENCE</h1>
            {{ macro.sourcesList(science) }}
        </div>
    </div>
    {% endblock%}
</body>

</html>