<!-- marco for displaying the source details  -->

{% macro sourcesList(sources) %}

{% for source in sources %}
<div class="source d-flex flex-wrap p-2 mx-auto ">
    <div class="card shadow-lg rounded" style=" width: 20rem;">
        <div class="card-header text-center">
            <a href="{{source.url}}">
                <h1>{{source.name}}</h1>
            </a>
            <p class="text-muted">{{source.cat}}</p>
            <a href="/articles/{{source.id}}">
                <p>Show more</p>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">{{source.descript}}</p>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}
<!-- end of source marco -->

<!-- marco for displaying articles detail -->
{% macro articlesList(articles) %}

{% for article in articles %}
<div class="article d-flex flex-wrap my-auto">
    <div class="card border-0 my-4 mx-5">
        <div class=" row ">
            <div class=" col-md-4">
                <img src="{{article.image}}" class="w-100">
                <p class="card-text text-muted">Source: {{article.name}}</p>
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block px-3">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.description}} </p>
                    <p class="card-text">Author: {{article.author}} </p>
                    <a href="{{article.url}}" class="btn btn-primary">Read More</a>
                    <p>Date published: {{article.date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}